@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
    background-image: url(/assets/images/background-pattern-desktop.svg);
    position: relative;
}
label::after{
    content: '+';
    font-weight: 500;
    color: #A020FD;
    font-size: 30px;
}
input[type='radio']{
    display: none;
}
.accordion input[type='radio']:checked + label + .content{
    max-height: 100px;
    padding: 10px 0px 10px;
}
.accordion input[type='radio']:checked + label::after{
    content: '-';
}
.content {
    transition: max-height 0.4s, padding 0.4s;
}